<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>점심 메뉴 추천</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="title-container">
    <h2>점</h2><h6>심</h6> <h2>메</h2><h6>뉴</h6> <h2>추</h2><h6>천</h6>
  </div> 

  <form id="menuForm" action="/" method="post">
    <p>메뉴 입력</p>
    <div id="inputContainer">
      <input class="list" type="text" name="items" required>
    </div>

    <button type="button" id="addInput">메뉴 추가</button>
    <button type="button" id="removeInput">메뉴 제거</button>

    <p>뽑기 횟수</p>
    <span> 1-100000 사이의 자연수를 입력해주세요.<br>(ex: 12.5와 같은 소수는 불가능) </span>
    <input class="뽑기횟수" type="number" name="n" required>

    <button class="choice" type="submit">메뉴 결정!</button>

  </form>

  <div id="result" class="hidden">
    <div id="loading" style="display: none;">
      <div class="spinner"></div>
      <p>메뉴를 선택하고 있습니다...</p>
    </div>
  
    <!-- <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="로딩 중..."> -->
    <div id="resultContent"></div>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('menuForm');
      const inputContainer = document.getElementById('inputContainer');
      const addButton = document.getElementById('addInput');
      const removeButton = document.getElementById('removeInput');
      const resultDiv = document.querySelector('#result');
      const loadingDiv = document.querySelector('#loading');
      const resultContentDiv = document.querySelector('#resultContent');

      addButton.addEventListener('click', function() {
          const input = document.createElement('input');
          input.type = 'text';
          input.name = 'items';
          input.required = true;
          input.classList.add('list');
          inputContainer.appendChild(input);
      });

      removeButton.addEventListener('click', function() {
          const inputs = inputContainer.getElementsByTagName('input');
          if (inputs.length > 1) {
              inputContainer.removeChild(inputs[inputs.length - 1]);
          }
      });

      form.addEventListener('submit', function(e) {
          e.preventDefault();
          const formData = new FormData(form);

          resultDiv.classList.remove('hidden');
          loadingDiv.style.display='block';
          resultContentDiv.innerHTML = '';

          const startTime = Date.now();
          const minDelay = 1000; // 최소 1초
          const maxDelay = 3000; // 최대 3초

          fetch('/', {
              method: 'POST',
              body: formData
          })
          .then(response => {

            if (!response.ok) { 

              alert("오류가 발생했습니다. 뽑기 횟수란에는 1-100000까지의 숫자만 입력 가능합니다."); 
              throw new Error(
              `
              오류가 발생했습니다.<br>
              * 새로고침 후 다시 시도해 주세요.<br>
              * 뽑기 횟수란에는 숫자만 입력 가능합니다.<br>
                (1-100000 범위 이내)
              `);
              
            } else {
              return response.json();
            }
                           
          })
          .then( (data) => {
            const elapsedTime = Date.now() - startTime;
            const remainingDelay = Math.min(Math.max(minDelay - elapsedTime, 0), maxDelay);

            setTimeout(() => {
              loadingDiv.style.display = 'none';
              resultContentDiv.innerHTML = `
                <h4>오늘의 점심 메뉴는?</h4>
                <h2>"${data}"</h2>
              `;
            }, remainingDelay);            
          })
          .catch(error => {
            console.error('Error:', error);
            resultDiv.innerHTML = error.message;
            resultDiv.style.display = 'block';
          });
      });
    });

  </script>

 

</body>
</html>